@model MVC_CRUD_Proyecto_8CodeFirst.Model.Models.Inscripcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombres)
        </dd>

    </dl>
</div>
<p>
    <a href="/Cursoe/Edit?id=@Model.InscripcionID" class="btn btn-primary">Editar</a>
        <a href="/Inscripcion/Index/" class="btn btn-default">Atras</a>
</p>
